
//BG
$main-bg: #2a3447; //main background color
$soft-bg: #384256; //soft background color
$dark-bg: #222b3c; //dark background color

//TEXT
$main-color: white; //text color
$soft-color: #ddd;  //soft text color
$dark-color: #2a3447; //dark text color

