.footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px;

    span {
        
        &:first-child {
            font-weight: bold;

        }
        &:last-child {
            font-size: 14px;
        }

        @keyframes bounce {
            0%, 20%, 60%, 100% {
                -webkit-transform: translateY(0);
                transform: translateY(0);
            }
        
            40% {
                -webkit-transform: translateY(-10px);
                transform: translateY(-10px);
            }
        
            80% {
                -webkit-transform: translateY(-5px);
                transform: translateY(-5px);
            }
        }

        &:hover {
            animation: bounce 1s;
        }
    }
}

